/* ===== Fuentes y variables (sin tocar) ===== */
@font-face {
    font-family: 'MiFuente';
    src: url('../fuente/CFCrayons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-naranja: #fde3cc;
    --color-celeste: #c3e5f3;
    --color-amarillo: #f9eb92;
    --color-rosa: #f7c4cd;
    --color-principal: #0b5433;
}

/* ===== Reset básico ===== */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'MiFuente', sans-serif;
    background-color: var(--color-principal);
}

.titulo-principal {
    font-size: 5em;
    color: var(--color-amarillo);
    text-align: center;
    margin: 0;
}

.signo {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.info-ensenanza {
    padding: 20px;
    color: white;
}

.contenedor-dibujo {
    float: left;
    width: 40%;
    text-align: center;
    margin-right: 25px;
}

.contenedor-texto h2 {
    color: var(--color-rosa);
}

.dibujo {
    width: 70%;
    margin: 40px 0 0 0 ;
}

.nombre-dibujo {
    margin-bottom: 40px;
    color: var(--color-naranja);
    font-size: 1.5em;
}

.contenedor-texto {
    color: white;
    font-size: 1.4em;
    display: block;
}

.texto {
    margin: 0 25px;
}