@font-face {
    font-family: 'MiFuente';
    src: url('./fuente/CFCrayons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-naranja: #fde3cc;
    --color-celeste: #c3e5f3;
    --color-amarillo: #f9eb92;
    --color-rosa: #f7c4cd;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'MiFuente', sans-serif;
}

#banner {
    background-image: url(./imagenes/aula.jpg);
    /* object-fit: cover; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* z-index: -2; */
}

.title_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #0b5433;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 5px;
    width: 45%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    border: 15px solid #a27943;
    justify-content: center;
    align-items: center;
}

.title_container h1 {
    margin: 5px;
    font-size: 4em;
}

.title_container p {
    margin-left: 5px;
    font-size: 2em;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin: 10px;
    font-size: 1.3em;
}

li:before {
    content: counters(item, ".")". ";
    counter-increment: item;
}

a {
    text-decoration: none;
    color: white;
}

.signo {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.name1{
    color: var(--color-naranja)
}

.name2 {
    color: var(--color-celeste);
}

.name3 {
    color: var(--color-amarillo);
}

ol li a:hover {
    color: var(--color-rosa);
}